:root {
    --primario: #006374;
    --primario-claro: #D6F9FF;
    --primario-claro-1: #D6F9FF;
    --secundario: #D6F9FF;
    --secundario-claro: #ADF8FF;
    --terciario: #25C5DA;
    --terciario-claro: #96E2ED;
    --gris-oscuro: #292929;
    --gris: #4D4D4D;
    --gris-claro-1: #767676;
    --gris-claro-2: #A1A1A1;
    --gris-claro-3: #EAEAEA;
    --fondo-completo: #F3F7F8;
  }
  